section.teams
    .container
        ul.pills-tab.nav.nav-pills(role='tablist')
            li.nav-item
                a#pills-Executive-Team-tab.nav-link.active(data-toggle='pill', href='#pills-Executive-Team', role='tab', aria-controls='pills-Executive-Team', aria-selected='true') Executive Team
            li.nav-item
                a#pills-Retreats-Executive-Teams-tab.nav-link(data-toggle='pill', href='#pills-Retreats-Executive-Teams', role='tab', aria-controls='pills-Retreats-Executive-Teams', aria-selected='false') International Experts
            li.nav-item
                a#pills-Clubs-Executive-Teams-tab.nav-link(data-toggle='pill', href='#pills-Clubs-Executive-Teams', role='tab', aria-controls='pills-Clubs-Executive-Teams', aria-selected='false') International Experts
            li.nav-item
                a#pills-International-Experts-tab.nav-link(data-toggle='pill', href='#pills-International-Experts', role='tab', aria-controls='pills-International-Experts', aria-selected='false') International Experts
            li.nav-item
                a#pills-Partner-Sponsors-tab.nav-link(data-toggle='pill', href='#pills-Partner-Sponsors', role='tab', aria-controls='pills-Partner-Sponsors', aria-selected='false') Partner & Sponsors
        #pills-tabContent.tab-content
            #pills-Executive-Team.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-Executive-Team-tab')
                