section.teams
    .container
        form.select-tab
            select#my-select
                option(value='0') Executive Team
                option(value='1') Retreats Executive Teams
                option(value='2') Clubs Executive Teams
                option(value='3') International Experts
                option(value='4') Partner & Sponsors
            .arrow
        ul#myTab.pills-tab.nav.nav-pills(role='tablist')
            li.nav-item
                a#pills-executive-team-tab.nav-link.active(data-toggle='pill', href='#pills-executive-team', role='tab', aria-controls='pills-executive-team', aria-selected='true',title="executive team") Executive Team
            li.nav-item
                a#pills-retreats-executive-teams-tab.nav-link(data-toggle='pill', href='#pills-retreats-executive-teams', role='tab', aria-controls='pills-retreats-executive-teams', aria-selected='false',title="retreats teams") Retreats Executive Teams
            li.nav-item
                a#pills-clubs-executive-teams-tab.nav-link(data-toggle='pill', href='#pills-clubs-executive-teams', role='tab', aria-controls='pills-clubs-executive-teams', aria-selected='false',title="clubs executive teams") Clubs Executive Teams
            li.nav-item
                a#pills-international-experts-tab.nav-link(data-toggle='pill', href='#pills-international-experts', role='tab', aria-controls='pills-international-experts', aria-selected='false',title="international experts") International Experts
            li.nav-item
                a#pills-partner-sponsors-tab.nav-link(data-toggle='pill', href='#pills-partner-sponsors', role='tab', aria-controls='pills-partner-sponsors', aria-selected='false',title="partner & sponsors") Partner & Sponsors
        #pills-tabContent.tab-content
            #pills-executive-team.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-executive-team-tab')
                .media
                    .media-avatar
                        img(src='../assets/img/people-01.png', alt='people-01-image')
                    .media-body
                        .people__info.clearfix
                            h5.people__name Olaf Schulz-Lobeck
                            p.people__job
                                | Chairman & President
                            button.toggle-detail.d-md-none(data-toggle='collapse',data-target='#collapseItem01', aria-expanded='true', aria-controls='collapseItem01')
                                span Show more
                                i.fa.fa-angle-down
                        #collapseItem01.collapseItem
                            .text-content
                                p
                                    | A purpose driven Visionary and culturally sensitive Entrepreneur with over 20 years business experience in the leisure industry with the key focus on medical wellness, wellness, hospitality and retail. Recognised as having a strong strategic focus combined with tailor-made customer service and deep understanding of the market dynamics. Particular expertise in driving business growth, transformational change and leading major structural development strategies.
                                p
                                    | Since 2009 Mr Schulz-Lobeck has been developed and launched international Medical Wellness projects, inter alia, with the long-standing managing director/shareholder of the Lanserhof Prof. Andreas Wieser, highly recommended F.X. Mayr physicians like Dr Jakobitsch, awarding winning architects, Medical Wellness experts, like Dr. Dahmen-Ingenhoven.
                                p
                                    | In China, Mr Schulz-Lobeck, was managing the overall medical wellness concept development and implementation of the world-class Sangha Retreat by Octave (Suzhou) which opened 2017.
                            // Button trigger modal
                            .play-video.video-btn(data-toggle='modal', data-src='https://www.youtube.com/embed/IHNzOHi8sJs', data-target='#myModal')
                                img(src="../assets/img/play-video-button.png", alt="play-video-button")
                                span
                                    | Watch the video
                .media
                    .media-avatar
                        img(src='../assets/img/people-02.png', alt='people-02-image')
                    .media-body
                        .people__info.clearfix
                            h5.people__name Stephan Domenig
                            p.people__job
                                | Doctor Specialist
                            button.toggle-detail.d-md-none(data-toggle='collapse',data-target='#collapseItem02', aria-expanded='true', aria-controls='collapseItem02')
                                span Show more
                                i.fa.fa-angle-down
                        #collapseItem02.collapseItem
                            .text-content
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales hendrerit.
                                p
                                    | Ut velit mauris, egestas sed, gravida nec, ornare ut, mi. Aenean ut orci vel massa suscipit pulvinar. Nulla sollicitudin. Fusce varius, ligula non tempus aliquam, nunc turpis ullamcorper nibh, in tempus sapien eros vitae ligula. Pellentesque rhoncus nunc et augue. Integer id felis.
                            // Button trigger modal
                            .play-video.video-btn(data-toggle='modal', data-src='https://www.youtube.com/embed/A0JjWpRiM2E', data-target='#myModal')
                                img(src="../assets/img/play-video-button.png", alt="play-video-button")
                                span
                                    | Watch the video
                .media
                    .media-avatar
                        img(src='../assets/img/people-03.png', alt='people-03-image')
                    .media-body
                        .people__info.clearfix
                            h5.people__name Gabriella Schnitzler
                            p.people__job
                                | Chairman & President
                            button.toggle-detail.d-md-none(data-toggle='collapse',data-target='#collapseItem03', aria-expanded='true', aria-controls='collapseItem03')
                                span Show more
                                i.fa.fa-angle-down
                        #collapseItem03.collapseItem
                            .text-content
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales hendrerit.
                                p
                                    | Ut velit mauris, egestas sed, gravida nec, ornare ut, mi. Aenean ut orci vel massa suscipit pulvinar. Nulla sollicitudin. Fusce varius, ligula non tempus aliquam, nunc turpis ullamcorper nibh, in tempus sapien eros vitae ligula. Pellentesque rhoncus nunc et augue. Integer id felis.
                            // Button trigger modal
                            .play-video.video-btn(data-toggle='modal', data-src='https://www.youtube.com/embed/3AtDnEC4zak', data-target='#myModal')
                                img(src="../assets/img/play-video-button.png", alt="play-video-button")
                                span
                                    | Watch the video
                .media
                    .media-avatar
                        img(src='../assets/img/people-04.png', alt='people-04-image')
                    .media-body
                        .people__info.clearfix
                            h5.people__name Timothy Allen
                            p.people__job
                                | Chairman & President
                            button.toggle-detail.d-md-none(data-toggle='collapse',data-target='#collapseItem04', aria-expanded='true', aria-controls='collapseItem04')
                                span Show more
                                i.fa.fa-angle-down
                        #collapseItem04.collapseItem
                            .text-content
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales hendrerit.
                                p
                                    | Ut velit mauris, egestas sed, gravida nec, ornare ut, mi. Aenean ut orci vel massa suscipit pulvinar. Nulla sollicitudin. Fusce varius, ligula non tempus aliquam, nunc turpis ullamcorper nibh, in tempus sapien eros vitae ligula. Pellentesque rhoncus nunc et augue. Integer id felis.
                            // Button trigger modal
                            .play-video.video-btn(data-toggle='modal', data-src='https://www.youtube.com/embed/GIDoQsQyS0s', data-target='#myModal')
                                img(src="../assets/img/play-video-button.png", alt="play-video-button")
                                span
                                    | Watch the video
            #pills-retreats-executive-teams.tab-pane.fade(role='tabpanel', aria-labelledby='pills-retreats-executive-teams-tab')
                .media
                    .media-avatar
                        img(src='../assets/img/people-02.png', alt='people-02-image')
                    .media-body
                        .people__info.clearfix
                            h5.people__name Stephan Domenig
                            p.people__job
                                | Doctor Specialist
                            button.toggle-detail.d-md-none(data-toggle='collapse',data-target='#collapseItem02', aria-expanded='true', aria-controls='collapseItem02')
                                span Show more
                                i.fa.fa-angle-down
                        #collapseItem02.collapseItem
                            .text-content
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales hendrerit.
                                p
                                    | Ut velit mauris, egestas sed, gravida nec, ornare ut, mi. Aenean ut orci vel massa suscipit pulvinar. Nulla sollicitudin. Fusce varius, ligula non tempus aliquam, nunc turpis ullamcorper nibh, in tempus sapien eros vitae ligula. Pellentesque rhoncus nunc et augue. Integer id felis.
                            // Button trigger modal
                            .play-video.video-btn(data-toggle='modal', data-src='https://www.youtube.com/embed/GIDoQsQyS0s', data-target='#myModal')
                                img(src="../assets/img/play-video-button.png", alt="play-video-button")
                                span
                                    | Watch the video
                .media
                    .media-avatar
                        img(src='../assets/img/people-03.png', alt='people-03-image')
                    .media-body
                        .people__info.clearfix
                            h5.people__name Gabriella Schnitzler
                            p.people__job
                                | Chairman & President
                            button.toggle-detail.d-md-none(data-toggle='collapse',data-target='#collapseItem03', aria-expanded='true', aria-controls='collapseItem03')
                                span Show more
                                i.fa.fa-angle-down
                        #collapseItem03.collapseItem
                            .text-content
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales hendrerit.
                                p
                                    | Ut velit mauris, egestas sed, gravida nec, ornare ut, mi. Aenean ut orci vel massa suscipit pulvinar. Nulla sollicitudin. Fusce varius, ligula non tempus aliquam, nunc turpis ullamcorper nibh, in tempus sapien eros vitae ligula. Pellentesque rhoncus nunc et augue. Integer id felis.
                            // Button trigger modal
                            .play-video.video-btn(data-toggle='modal', data-src='https://www.youtube.com/embed/3AtDnEC4zak', data-target='#myModal')
                                img(src="../assets/img/play-video-button.png", alt="play-video-button")
                                span
                                    | Watch the video
            // Modal         
            #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-body
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') &times;
                            // 16:9 aspect ratio
                            .embed-responsive.embed-responsive-16by9
                                iframe#video.embed-responsive-item(src='', allowscriptaccess='always', allow='autoplay')