section.discover-post
    .container
        .row
            .col-md-6
                img(src="../assets/img/drink.png", alt="drinking-image")
            .col-md-6
                .date-and-tag
                    p June 4, 2018
                    span Exercise
                p.discover-post__title 
                    | Water, the elixir of life
                p.discover-post__content.text-content
                    | We all know our bodies are made up of approximately 70% water, so why is it so important to drink plenty of it? How does water help with the Mayr fasting cure? And how can it benefit the appearance of our skin?
                a(href="discover-article.html", title="read full this article").underline-text
                    | Read this article