section.discover-filter
    .container
        .discover-filter__search-input.text-center
            input#search-filter(type='text', name='q', placeholder='Search an article...')
            .search-icon
                img(src="../assets/img/search-icon.png", alt="search-icon")
        form.select-tab
            select#select-category
                option(value='all') All
                option(value='medicine') Medicine
                option(value='nutrition') Nutrition
                option(value='exercise') Exercise
                option(value='awareness') Awareness
            .arrow
        ul.pills-tab.nav.nav-pills(role='tablist')
            li.nav-item(onclick="filterSelection('all')")
                a#pills-all-tab.nav-link.active(data-toggle='pill', href='#all') All
            li.nav-item(onclick="filterSelection('medicine')")
                a#pills-medicine-tab.nav-link(data-toggle='pill', href='#medicine') Medicine
            li.nav-item(onclick="filterSelection('nutrition')")
                a#pills-nutrion-tab.nav-link(data-toggle='pill', href='#nutrition') Nutrition
            li.nav-item(onclick="filterSelection('exercise')")
                a#pills-exercise-tab.nav-link(data-toggle='pill', href='#exercise') Exercise
            li.nav-item(onclick="filterSelection('awareness')")
                a#pills-awareness-tab.nav-link(data-toggle='pill', href='#awareness') Awareness
        .discover-article.row
            .filterDiv.all.nutrition.discover-article__item.col-md-4.col-6
                .article
                    img(src="../assets/img/ice-cream.png", alt="ice-cream-image")
                    .date-and-tag
                        p June 22, 2018
                        span Nutrition
                    p.article__title
                        | A deliciously cool treat for a hot sunny day
                    p.text-content
                        | Hot days call for ice-cream! Just because you are on the cure, it doesn’t mean you have to miss out, with our Chef’s tempting recipes for sugar free ice cream.
            .filterDiv.all.medicine.discover-article__item.col-md-4.col-6
                .article
                    img(src="../assets/img/swim.png", alt="swim-image")
                    .date-and-tag
                        p June 17, 2018
                        span Medicine
                    p.article__title
                        | Swim through the summer
                    p.text-content
                        | During the hot summer days, Lake Wörthersee is a swimmers’ paradise with crystal clear waters that are both refreshing and invigorating and water temperatures that can reach up to 28 degrees in high summer.
            .filterDiv.all.exercise.discover-article__item.col-md-4.col-6
                .article
                    img(src="../assets/img/pool.png", alt="pool-image")
                    .date-and-tag
                        p April 4, 2018
                        span Exercise
                    p.article__title
                        | Achieve your best ever body this summer
                    p.text-content
                        | In order to get your body in its best possible shape this summer, we have launched the “Mayr Body Balance”. The programme is available for a limited time and offers…
            .filterDiv.all.nutrition.discover-article__item.col-md-4.col-6
                .article
                    img(src="../assets/img/body.png", alt="body-image")
                    .date-and-tag
                        p March 22, 2018
                        span Nutrition
                    p.article__title
                        | Enhance your beauty at the FX Mayr Beauty Spa
                    p.text-content
                        | Compliment your stay with results-driven or pampering face and body treatments at the Original FX Mayr Beauty Spa.
            .filterDiv.all.medicine.discover-article__item.col-md-4.col-6
                .article
                    img(src="../assets/img/building.png", alt="building-image")
                    .date-and-tag
                        p March 17, 2018
                        span Medicine
                    p.article__title
                        | Our health tip: Private Clinic Day
                    p.text-content
                        | Make time during your stay at the Original FX Mayr to get those important medical checks done. The specialists at the Privatklinik Maria Hilf in Klagenfurt are looking forward to welcoming you.
            .filterDiv.all.exercise.discover-article__item.col-md-4.col-6
                .article
                    img(src="../assets/img/cocktail.png", alt="cocktail-image")
                    .date-and-tag
                        p February 4, 2018
                        span Exercise
                    p.article__title
                        | Naturally detox and improve your health
                    p.text-content
                        | If the body is overloaded with metabolic waste, toxins and excess acid, a fasting and detoxification cure can work small wonders. It paves the way to better health and a new…
            .filterDiv.all.nutrition.discover-article__item.col-md-4.col-6
                .article
                    img(src="../assets/img/living-room.png", alt="living-room-image")
                    .date-and-tag
                        p January 22, 2018
                        span Nutrition
                    p.article__title
                        | Why is a fasting cure good for us
                    p.text-content
                        | Fasting causes a number of important things to happen to us, both mentally and physically. Cell rejuvenation is triggered, fat deposits start to melt away and you go through a process of change. You find peace, both inside…
            .filterDiv.all.medicine.discover-article__item.col-md-4.col-6
                .article
                    img(src="../assets/img/warm.png", alt="warm-image")
                    .date-and-tag
                        p January 17, 2018
                        span Medicine
                    p.article__title
                        | Strengthen your immune system: Mayr Winter Essentials
                    p.text-content
                        | Look forward to a beautiful winter by coming to us to prepare yourself for the cold and flu season. Get your immune system into shape with Mayr Winter Essentials…
            .filterDiv.all.exercise.discover-article__item.col-md-4.col-6
                .article
                    img(src="../assets/img/foot-bath.png", alt="foot-bath-image")
                    .date-and-tag
                        p January 4, 2018
                        span Exercise
                    p.article__title
                        | Alternating Foot Baths: a sparkling autumn delight
                    p.text-content
                        | Hot and cold waters refresh tired legs and improve blood circulation - the perfect start into an autumn day.