.container
    .row
        .col-12
            .discover-article
                .discover-article__heading-block
                    .article
                        img(src="../assets/img/drink.png", alt="drink-image")
                        .date-and-tag
                            p June 4, 2018
                            span Exercise
                        p.article__title
                            | Water, the elixir of life
                        p.text-content
                            | We all know our bodies are made up of approximately 70% water, so why is it so important to drink plenty of it? How does it help with the Mayr fasting cure? And how can it benefit the appearance of our skin?
                .discover-article__content
                    p
                        strong
                            | Why it is so important to drink water
                    p
                        | As a rule, the human body cannot survive without water for more than three days. It needs at least 1.5 to 2 litres per day. The right type and amount of water is essential for optimal blood circulation, brain performance, concentration, the digestive system and many other bodily functions. The immune system also needs plenty of water. If this is lacking, the skin and mucous membranes dry out and give access to viruses and bacteria. The body also needs water to release toxins from the body.
                    br
                    p
                        strong
                            | Drinking water during your fasting cure
                    p
                        | It is so important to drink lots of water during your FX Mayr cure. When the body is well hydrated it is better able to rid itself of toxins. The tissues are cleaned, toxins from the cells are optimally disposed of and fresh nutrients are supplied. Drinking water supports digestion, cleansing and the immune system.
                    br
                    img(src="../assets/img/top-view.png", alt="top-view-image")
                    br
                    p
                        strong
                            | Drinking water is good for the skin
                    p
                        | As the largest human organ, the skin stores about one third of the fluid present in the entire body. In order to properly carry out its tasks (protection against environmental influences, sense of touch, sensation of pain, warmth and cold...), it needs plenty of water. Researchers at the Charité university clinic in Berlin have shown that drinking water promotes the vitality of the skin. Just a few minutes after drinking, the skin is better supplied with blood. The metabolism is stimulated. The skin can perform its tasks better. And it also looks fresher and healthier.
                    br
                    p
                        strong
                            | Soothing alternating foot baths as prescribed by Sebastian Kneipp
                    p
                        | External water applications have also proven themselves in the FX Mayr cure over the decades. Alternating warm and cold foot baths, known as Kneipping stimulates the circulation and metabolism. It also stimulates blood circulation, strengthens the veins and helps with varicose veins or swollen legs. Kneipping also strengthens the immune system and has a vegetative stabilising effect and can also relieve migraine headaches and sleep disorders.