.intro {
    margin-top: 60px;
    margin-bottom: 100px;
    @media (max-width: $md-screen) {
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .qr-code-block_left {
        margin-top: -10px;
        @media (max-width: $md-screen) {
            margin-top: 13px;
        }
    }
    .follow-us {
        margin-right: 0;
    }
    .text-conent {
        font-size: 14px;
        @media (max-width: $md-screen) {
            margin-bottom: 41px;
        }
    }
}