.middle-banner {
    margin: 100px 0;
    height: 300px;
    @media (max-width: $md-screen) {
        margin: 50px 0;
        height: 182px;
    }
    .simpleParallax {
        height: 100%;
        img {
            width: auto;
            min-width: 100%;
        }
    }
}
.lg-background {
    display: block;
    @media (max-width: $md-screen) {
        display: none;
    }
}
.md-background {
    display: none;
    @media (max-width: $md-screen) {
        display: block;
    }
}