.video {
    margin-bottom: 100px;
    @media (max-width: $md-screen) {
            margin-bottom: 50px;
    }
    img {
        width: 80%;
        height: auto;
        margin: 0 auto;
        @media (max-width: $md-screen) {
            width: 100%;
        }
    }
}