//- layout.pug
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="This is our description" )
    //- more meta tag ...
    block title
      title FX Mayr Theme
    block head_styles
      //- font awesome
      link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
      //- google icon font
      link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
      //- bootstrap
      link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Quicksand:400,500,700')
      //- favicon
      link(rel='icon', href='/assets/img/FX-Mayr-Favicon.png', type='image/png', sizes='16x16')
      //- Slick
      link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
      //- Jquery Datepicker
      link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
      //- Main styles
      link(rel='stylesheet', href='/assets/css/main.css')
    block head_scripts
  body
    include ../_partials/header.pug
    block content
    include ../_partials/footer.pug
    block foot_scripts
      //- script(src='/assets/js/vendor-min.js')
      //- Bootstrap JS
      script(src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
      //- Slick JS
      script(type='text/javascript', src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
      //- Parallax JS
      script(src='https://cdn.jsdelivr.net/npm/simple-parallax-js@4.2.0/dist/simpleParallax.min.js')
      //- Jquery Datepicker
      script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
      //- Main JS
      script(src='/assets/js/main.js')