/* @import 'bootstrap'; */
@import './_variables.postcss';
@import './_header.postcss';
@import './_footer.postcss';
@import './_top-banner.postcss';
@import './_intro.postcss';
@import './_know-more-about-us.postcss';
@import './_middle-banner.postcss';
@import './_articles.postcss';
@import './_video.postcss';
@import './_bot-banner.postcss';

body {
  background: white;
  font-family: 'Quicksand', sans-serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
}