section.fx-mayr-service
   .container
        form.select-tab
            select#select-service
                option(value='introduction') Retreat & Club introduction 
                option(value='retreats') The Original F.X. Mayr Retreats
                option(value='clubs') The Original F.X. Mayr Clubs
            .arrow
        ul.pills-tab.nav.nav-pills
            li.nav-item
                a#retreat-club-introduction-jump.nav-link(href='#introduction') Retreat & Club introduction
            li.nav-item
                a#fx-mayr-retreat-jump.nav-link(href='#fx-mayr-retreat') The Original F.X. Mayr Retreats
            li.nav-item
                a#fx-mayr-club-jump.nav-link(href='#fx-mayr-club') The Original F.X. Mayr Clubs
        .service-item.introduction#retreat-club-introduction
            h3.section-title
                | Retreat & Club introduction
            .row
                .col-md-6
                    .features__post
                        .features__title-block.video
                            //- include "../_homepage/video.pug"
                            .video-wrapper
                                img.video__image#video01( src="../assets/img/video-bg-02.png", alt="video-background-02-img")
                                video.video__play.video01(controls='' autoplay='')
                                    source(src='http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ElephantsDream.mp4', type='video/mp4')
                                    //- source(src='mov_bbb.ogg', type='video/ogg')
                                    |   Your browser does not support HTML5 video.
                            p.bigger-title
                                | The Original F.X. Mayr Retreat Prototype
                        p.text-content
                            | The Original F.X. Mayr Retreats are the guests “third space” which integrates and curates wellness, health, culinary, social and lifestyle experience. They are a personal retreat as well a social space where guests can meet friends or connect with like-minded item2 - they are “My Third Space”.
                .col-md-6
                    .features__post
                        .features__title-block.video
                            .video-wrapper
                                img.video__image#video02( src="../assets/img/video-bg-03.png", alt="video-background-03-img")
                                video.video__play.video02(controls='' autoplay='')
                                    source(src='http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerBlazes.mp4', type='video/mp4')
                                    //- source(src='mov_bbb.ogg', type='video/ogg')
                                    |   Your browser does not support HTML5 video.
                            p.bigger-title
                                | The Original F.X. Mayr Club Prototype
                        p.text-content
                            | Urban retreats with the key focus on health, wellbeing and the lifestyle preferences of its members.
        .service-item.retreats#fx-mayr-retreat
            h3.section-title
                | The Original F.X. Mayr Retreats
            .project-block
                .row
                    .col-md-5
                        .project__image
                            img(src="../assets/img/relax.png", alt="relax-image")
                    .col-md-7
                        .project__content
                            p.project__title
                                | Projects
                            .text-content
                                p
                                    | Lorem ipsum dolor sit amet, tota doctus omittantur ex vix. Nec no quot dolorum interpretaris, quo cibo illum ponderum ea. Mel odio similique no. Et soleat menandri recteque vim, vix eu volumus appellantur, vidit homero pro ne. His appetere consequuntur ut, hendrerit percipitur ea nam. Nam id sumo epicuri imperdiet.
                                ul
                                    li Project name 1
                                    li Project name 2
                                    li Project name 3  
            p.project__title
                | Retreats under development
            //- Tab-item section
            form.select-tab
                select#mySelect
                    option(value='0') Item 1
                    option(value='1') Item 2
                    option(value='2') Item 3
                    option(value='3') Item 4
                    option(value='4') Item 5
                .arrow
            ul.pills-tab.nav.nav-pills(role='tablist')
                li.nav-item
                    a#pills-item1-tab.nav-link.active(data-toggle='pill', href='#pills-item1', role='tab', aria-controls='pills-item1', aria-selected='true') Item 1
                li.nav-item
                    a#pills-item2-tab.nav-link(data-toggle='pill', href='#pills-item2', role='tab', aria-controls='pills-item2', aria-selected='false') Item 2
                li.nav-item
                    a#pills-item3-tab.nav-link(data-toggle='pill', href='#pills-item3', role='tab', aria-controls='pills-item3', aria-selected='false') Item 3
                li.nav-item
                    a#pills-item4-tab.nav-link(data-toggle='pill', href='#pills-item4', role='tab', aria-controls='pills-item4', aria-selected='false') Item 4
                li.nav-item
                    a#pills-item5-tab.nav-link(data-toggle='pill', href='#pills-item5', role='tab', aria-controls='pills-item5', aria-selected='false') Item 5
            #pills-tabContent.tab-content
                #pills-item1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-item1-tab')
                    .row.article-item
                        .col-md-4
                            p.article__date
                                | June 4, 2018
                        .col-md-8
                            p.article__title
                                | Design
                            p.text-content
                                | Lorem ipsum dolor sit amet, tota doctus omittantur ex vix. Nec no quot dolorum interpretaris, quo cibo illum ponderum ea. Mel odio similique no.
                    .row.article-item
                        .col-md-4
                            p.article__date
                                | June 28, 2018
                        .col-md-8
                            p.article__title
                                | Development phase
                            p.text-content
                                | Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi.
                    .row.article-item
                        .col-md-4
                            p.article__date
                                | July 3, 2018
                        .col-md-8
                            p.article__title
                                | Construction
                            p.text-content
                                | Non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim.
                    .row.article-item
                        .col-md-4
                            p.article__date
                                | August 12, 2018
                        .col-md-8
                            p.article__title
                                | Hand-over
                            p.text-content
                                | Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales.
                    .row.article-item
                        .col-md-4
                            p.article__date
                                | September 21, 2018
                        .col-md-8
                            p.article__title
                                | Soft-opening
                            p.text-content
                                | Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh.
            p.article__title
                | Retreats in operation
            p.text-content
                | Non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim.
        .service-item.clubs#fx-mayr-club
            h3.section-title
                | The Original F.X. Mayr Clubs
            .project-block
                .row
                    .col-md-5
                        .project__image
                            img(src="../assets/img/landscape.png", alt="landscape-image")
                    .col-md-7
                        .project__content
                            p.project__title
                                | Projects
                            .text-content
                                p
                                    | Lorem ipsum dolor sit amet, tota doctus omittantur ex vix. Nec no quot dolorum interpretaris, quo cibo illum ponderum ea. Mel odio similique no. Et soleat menandri recteque vim, vix eu volumus appellantur, vidit homero pro ne. His appetere consequuntur ut, hendrerit percipitur ea nam. Nam id sumo epicuri imperdiet.
                                ul
                                    li Project name 1
                                    li Project name 2
                                    li Project name 3  
            p.project__title
                | Retreats under development
            //- Tab-item section
            form.select-tab
                select#mySelect
                    option(value='0') Item 1
                    option(value='1') Item 2
                    option(value='2') Item 3
                    option(value='3') Item 4
                    option(value='4') Item 5
                .arrow
            ul.pills-tab.nav.nav-pills(role='tablist')
                li.nav-item
                    a#pills-item2-1-tab.nav-link.active(data-toggle='pill', href='#pills-item2-1', role='tab', aria-controls='pills-item2-1', aria-selected='true') Item 1
                li.nav-item
                    a#pills-item2-2-tab.nav-link(data-toggle='pill', href='#pills-item2-2', role='tab', aria-controls='pills-item2-2', aria-selected='false') Item 2
                li.nav-item
                    a#pills-item2-3-tab.nav-link(data-toggle='pill', href='#pills-item2-3', role='tab', aria-controls='pills-item2-3', aria-selected='false') Item 3
                li.nav-item
                    a#pills-item2-4-tab.nav-link(data-toggle='pill', href='#pills-item2-4', role='tab', aria-controls='pills-item2-4', aria-selected='false') Item 4
                li.nav-item
                    a#pills-item2-5-tab.nav-link(data-toggle='pill', href='#pills-item2-5', role='tab', aria-controls='pills-item2-5', aria-selected='false') Item 5
            #pills-tabContent.tab-content
                #pills-item2-1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-item2-1-tab')
                    .row.article-item
                        .col-md-4
                            p.article__date
                                | June 4, 2018
                        .col-md-8
                            p.article__title
                                | Design
                            p.text-content
                                | Lorem ipsum dolor sit amet, tota doctus omittantur ex vix. Nec no quot dolorum interpretaris, quo cibo illum ponderum ea. Mel odio similique no.
                    .row.article-item
                        .col-md-4
                            p.article__date
                                | June 28, 2018
                        .col-md-8
                            p.article__title
                                | Development phase
                            p.text-content
                                | Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi.
                    .row.article-item
                        .col-md-4
                            p.article__date
                                | July 3, 2018
                        .col-md-8
                            p.article__title
                                | Construction
                            p.text-content
                                | Non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim.
                    .row.article-item
                        .col-md-4
                            p.article__date
                                | August 12, 2018
                        .col-md-8
                            p.article__title
                                | Hand-over
                            p.text-content
                                | Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales.
                    .row.article-item
                        .col-md-4
                            p.article__date
                                | September 21, 2018
                        .col-md-8
                            p.article__title
                                | Soft-opening
                            p.text-content
                                | Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh.
            p.article__title
                | Retreats in operation
            p.text-content
                | Non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim.