section.fx-mayr-service
   .container
        ul.pills-tab.nav.nav-pills
            li.nav-item
                a#retreat-club-introduction-jump.nav-link(href='#introduction') Retreat & Club introduction
            li.nav-item
                a#fx-mayr-retreat-jump.nav-link(href='#fx-mayr-retreat') The Original F.X. Mayr Retreats
            li.nav-item
                a#fx-mayr-club-jump.nav-link(href='#fx-mayr-club') The Original F.X. Mayr Clubs
        #retreat-club-introduction
            h3.section-title
                | Retreat & Club introduction
            .row
                .col-md-6
                    .features__post
                        .features__title-block
                            img(src="../assets/img/video-bg-02.png", alt="video-bg-02-image")
                            p.bigger-title
                                | The Original F.X. Mayr Retreat Prototype
                        p.text-content
                            | The Original F.X. Mayr Retreats are the guests “third space” which integrates and curates wellness, health, culinary, social and lifestyle experience. They are a personal retreat as well a social space where guests can meet friends or connect with like-minded people - they are “My Third Space”.
                .col-md-6
                    .features__post
                        .features__title-block
                            img(src="../assets/img/video-bg-03.png", alt="video-bg-03-image")
                            p.bigger-title
                                | The Original F.X. Mayr Club Prototype
                        p.text-content
                            | Urban retreats with the key focus on health, wellbeing and the lifestyle preferences of its members.
        #fx-mayr-retreat
            h3.section-title
                | The Original F.X. Mayr Retreats
            .project-block
                .project__image
                    img(src="../assets/img/relax.png", alt="relax-image")
                .project__content
                    .row
                        .col-md-5
                            p.project__title
                                | Projects
                        .col-md-7
                            .text-content
                                p
                                    | Lorem ipsum dolor sit amet, tota doctus omittantur ex vix. Nec no quot dolorum interpretaris, quo cibo illum ponderum ea. Mel odio similique no. Et soleat menandri recteque vim, vix eu volumus appellantur, vidit homero pro ne. His appetere consequuntur ut, hendrerit percipitur ea nam. Nam id sumo epicuri imperdiet.
                                ul
                                    li Project name 1
                                    li Project name 2
                                    li Project name 3               