/* @import 'bootstrap'; */
.header {
    padding: 20px 0;
}
.header__logo-wrapper {
    width: 296px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 768px) {
    .header__logo-wrapper {
        width: 100%;
        height: 100px;
    }
}
.header__logo-wrapper img {
        height: 100%;
}
@media (max-width: 768px) {
    .header__logo-wrapper img {
        width: 148px;
        height: 100px;
    }
}
.header__logo-wrapper span.toggle-menu-button {
        display: none;
}
@media (max-width: 768px) {
    .header__logo-wrapper span.toggle-menu-button {
        display: block!important;
        padding-right: 5px;
    }
}
nav.header__navbar-wrapper {
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    justify-content: space-between;
}
@media (max-width: 768px) {
    nav.header__navbar-wrapper {
        display: none;
    }
}
nav.header__navbar-wrapper ul {
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
}
nav.header__navbar-wrapper ul.header__nav {
        flex-grow: 1;
    padding-left: 139px;
}
@media (max-width: 992px) {
    nav.header__navbar-wrapper ul.header__nav {
        padding-left: 40px;
    }
}
nav.header__navbar-wrapper ul.header__nav a {
                color: #4a4a4a;
}
nav.header__navbar-wrapper ul.header__lang-switcher {
    position: absolute;
    right: 15px;
    width: 13%;
    font-size: 13px;
    font-size: .8125rem;
    padding: 0;
}
nav.header__navbar-wrapper ul.header__lang-switcher a {
                color: #9b9b9b;
}
li.header__weixin-qrcode {
    position: relative
}
li.header__weixin-qrcode:hover .header__weixin-qrcode__popover {
    display: block;
}
.header__weixin-qrcode__popover {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 100px;
    height: 100px;
    border: 1px solid #4a4a4a;
    left: -200%;

}
.lang-current {
    color: #38A6A0!important;
}
footer {
    padding: 20px 0;
}
@media (max-width: 768px) {
    footer {
        text-align: center;
        padding: 30px 0;
    }
}
.col-one img {
        width: 154px;
        height: 104px;
    }
@media (max-width: 768px) {
    .col-one img {
        margin: 0 auto;
    }
}
.col-two {
    text-align: center;
}
.col-two p:first-child {
    font-size: 26px;
    color: #9b9b9b;
    line-height: 34px;
    margin-top: 20px;
    margin-bottom: 31px;
}
@media (max-width: 768px) {
    .col-two p:first-child {
        margin-bottom: 19px;
    }
}
.col-two p:last-child {
    margin: 0;
}
@media (max-width: 768px) {
    .col-two p:last-child {
        margin-bottom: 31px;
    }
}
.col-two p span {
            font-family: 'Open Sans', sans-serif;
            font-size: 11px;
            color: #666666;
            line-height: 18px;
}
.col-two p span:first-child {
            padding-right: 30px;
}
.col-two p span:last-child {
            padding-left: 30px;
}
.col-three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
@media (max-width: 768px) {
    .col-three {
        justify-content: center;
    }
}
.col-three .follow-us {
        display: inline;
        text-align: center;
        margin-right: 16px;
}
.col-three .follow-us p {
            font-family: 'Open Sans', sans-serif;
            font-size: 12px;
            color: #666666;
            line-height: 20px;
            margin: 0;
        }
.col-three img {
        width: 100px;
        height: 100px;
}
@media (max-width: 768px) {
    .col-three img {
        margin: 0 auto;
    }
}
body {
  background: white;
  font-family: 'Quicksand', sans-serif;
}
img {
  display: block;
  width: 100%;
  height: auto;
}