section.features
    .container
        .row
            .col-md-3
                .features__post
                    .features__title-block
                        img(src="../assets/img/management-company.png", alt="management-company-image")
                        p.bigger-title
                            | Management Company
                    p.text-content
                        | The Original F.X. Mayr Management is developing and managing integrated lifestyle facilities in Greater China to encourage personal growth and transformation through the focus on mindfulness, overall well-being, and comprehensive holistic health considering the individuals living conditions.
            .col-md-3
                .features__post
                    .features__title-block
                        img(src="../assets/img/lifestyle.png", alt="lifestyle-image")
                        p.bigger-title
                            | Lifestyle Facilities
                    p.text-content
                        | The Original F.X. Mayr Lifestyle Facilities are positioned as "integrated health centers" and commercially known as The Original F.X. Mayr Retreat and The Original F.X. Mayr Club. They integrate and curate health, wellness, culinary, social and lifestyle experience. At the same time, they are a personal retreat as well as a social space to meet friends or connect with like-minded people.
            .col-md-3
                .features__post
                    .features__title-block
                        img(src="../assets/img/medicine.png", alt="medicine-image")
                        p.bigger-title
                            | Medicine
                    p.text-content
                        | Mayr Medicine, invented by the Austria physician Dr.med. Franz Xaver Mayr (1875 - 1965) and 1986 officially acknowledged by the Austrian Medical Association is developing and optimizing over the last 100 years up-to-date integrated medical solutions that have world-wide proven success records in preventing and cure today's lifestyle diseases. It is particularly suitable for the treatment of chronic diseases as well as self-discovery and self-reorientation.
            .col-md-3
                .features__post
                    .features__title-block
                        img(src="../assets/img/integrative.png", alt="integrative-image")
                        p.bigger-title
                            | Integrative Health Centre Programs
                    p.text-content
                        | China is experiencing a rapid epidemiological transition. The incidence of chronic diseases has risen sharply and is estimated to cause 85% of all death in China. The Solution are integrated up-to-date "bio-psycho-social programs" developed for prevention, cure and regeneration. 
