section.intro
    .container
        h3.section-title
            | China's Leader in Innovative and Preventative Medicine
        .row
            .col-md-8
                p.text-content
                    | In our house, you will find a sheltered retreat in which you can take the first steps on a voyage of self-discovery. A place of purification, detoxification and renewal. A tranquil atmosphere in which you can really breathe. And people to accompany and guide you on your journey.
            .col-md-4.qr-code-block_left.pl-100-custom
                span
                    img(src="../assets/img/qr-code.png", alt="qr-code")
                .follow-us
                    p
                        | Follow us
                        br
                        | on WeChat