section.middle-banner
    img.parallax(src="../assets/img/homepage-mid-banner.png", alt="middle-banner-image")
    .container
        .middle-banner__text
            .middle-banner__text_desktop
                p
                    | I see a new 
                    span 
                        | horizon 
                p 
                    | for a 
                    span 
                        | better me!
            .middle-banner__text_mobile.d-md-none
                p
                    | I see a new 
                p
                    span 
                        | horizon
                    |  for a
                p 
                    span 
                        | better me!

            