section.middle-banner
    .lg-background
        img.parallax(src="../assets/img/homepage-middle-banner.png", alt="middle-banner-image")
    .md-background    
        img.parallax(src="../assets/img/homepage-middle-banner-md.png", alt="middle-banner-md-image")