section.top-banner
    img.parallax(src="../assets/img/homepage-top-banner.png", alt="top-banner-image")
    .container
        .top-banner__text
            .title
                p Enjoy
                p Regenerate
                p Experience
            span
                | Discover