extends _templates/home_template.pug

block title
  title Contact - FX Mayr
block page_content
  main
    include ./_partials/_contact/_contact-top-banner.pug
    include ./_partials/_contact/_contact-form.pug