extends _templates/home_template.pug

block title
  title Water, the elixir of life - Discover Article
block page_content
  main
    include ./_partials/_discover/_discover-top-banner.pug
    include ./_partials/_discover/_discover-article.pug