extends _templates/home_template.pug

block page_content
  main
    include ./_partials/top-banner.pug
    include ./_partials/intro.pug
    include ./_partials/know-more-about-us.pug
    include ./_partials/middle-banner.pug
    include ./_partials/articles.pug
    include ./_partials/video.pug
    include ./_partials/bot-banner.pug