extends _templates/home_template.pug

block title
  title People - FX Mayr
block page_content
  main
    include ./_partials/_people/_people-top-banner.pug
    include ./_partials/_people/_people-teams.pug