footer
    include ../_partials/_homepage/bot-banner.pug
    .container
        .row
            .col-md-3.col-one
                a(href="index.html")
                    img(src="../assets/img/FX-Mayr-Logo-01.png", alt="logo")
            .col-md-6.col-two
                p
                    | Enjoy. Regenerate. Experience.
                p
                    span Legal information
                    span Terms and conditions
            .col-md-3.col-three
                .follow-us
                    span
                        i.fab.fa-weixin.d-block
                    p
                        | Follow us
                        br
                        | on WeChat
                span
                    img(src="../assets/img/qr-code.png", alt="qr-code")   