header.header
    .container
        .row
            .col-12
                .d-flex
                    .header__logo-wrapper
                        a.header__logo(href="index.html")
                            img(src="../assets/img/FX-Mayr-Logo-01.png", alt="logo")
                        span.toggle-menu-button
                            i.fas.fa-align-justify
                    nav.header__navbar-wrapper
                        ul.header__nav
                            li
                                a(href="#") F.X Mayr
                            li
                                a(href="#") People
                            li
                                a(href="#") Discover
                            li
                                a(href="#") Contact us
                            li.header__weixin-qrcode
                                i.fab.fa-weixin
                                .header__weixin-qrcode__popover
                                    img(src="../assets/img/qr-code.png", alt="weixin-qrcode")
                        ul.header__lang-switcher
                            li
                                a(href="#") 中文
                            li
                                a.lang-current(href="#") EN
                            li
                                a(href="#") DE
                    

