section.middle-banner
    img.lg-screen.parallax(src="../assets/img/homepage-middle-banner.png", alt="middle-banner-image")
    img.md-screen.parallax(src="../assets/img/homepage-middle-banner-md.png", alt="middle-banner-md-image")