section.top-banner
    img.parallax(src="../assets/img/homepage-top-banner.png", alt="top-banner-image")
    .top-banner__text
        .title
            p Enjoy
            p Regenerate
            p Experience
        span
            | Discover